<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->
 
 <bean class="org.springframework.context.support.ResourceBundleMessageSource" name="resource">
 <property name="basename" value="i18NandL10N.resource7.MessageBundle"></property>
 </bean>
 
 <bean class="i18NandL10N.bean7.Student" name="student">
     <property name="source" ref="resource"></property>
     </bean>
</beans>
